<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<h4><%= title %></h4>
	<form id="form">
		<input type="text" name="category" id="category" placeholder="category"><br>
	</form>
	<input type="button" name="" id="add_field" value="Add field"><br>
	<input type="button" name="" id="done" value="Done">
    <p id="messge"><%= message %></p>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript">
		$('#add_field').click(function() {
			$('#form').append('<input type="text" class="field" placeholder="field"><br>')
		})
		$('#done').click(function() {
			var fields = $('.field').toArray()
            if ($('#category').val()) {
                if (fields.length) {
                    var fieldNms = []
                    for (var i = 0; i < fields.length; i++) {
                        if (fields[i].value) {
                            fieldNms.push(fields[i].value)
                            $(fields[i]).css('border-color', 'initial')
                        } else {
                            // console.log(fields[i])
                            $(fields[i]).css('border-color', 'red')
                        }
                    }
                    if (fields.length == fieldNms.length || 1) {
                        $.post('/cretect', {category: $('#category').val(), info: JSON.stringify(fieldNms)}, function(data) {
                        	$('#messge').text(data)
                        })
                    }
                } else {
                    $('#messge').text('add fields')
                }
            } else {
                $('#messge').text('enter category')
            }
		})
	</script>
</body>
</html>